/bin-int
.vs/
/bin
Intermediates/
Cache/
**.sln
**.vcxproj
**.filters
**.user
*.log
Koten/cpp.hint
*.csproj
/Editor/SandboxProject/Assets/Scripts/Binaries
Makefile
*.make
*.ktfc
*.ktbin
*.ktap
/.vscode
